*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    background-color: #fff;
    color: #555;
    font-size: 20px;
    scroll-behavior: smooth;
}

header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(30, 30, 30, 0.842),rgba(30, 30, 30, 0.842)), url("../img/homecoverpage.jpg");
    background-position: center;
    background-size: cover;
}

.logo{
    margin-top: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.GetStarted{
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color:#fff;
    border: 1px solid #f78a25;
    border-radius: 50px;
    width: 20%;
    padding: 10px;
}

.GetStarted:hover{
    background-color: #f78a25;
    color: black;
    transition: 0.3s;
}

.navitem{
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 600;
    padding-left: 5%;
    padding-right: 5%;
}

.navitem:hover{
    border-bottom: 2px solid #ffba5fb2;
}

.Gsection{
    background-color: rgb(0, 0, 0);
    min-height: 75vh;
    padding-top: 3%;
}

.TittleSection{
    font-weight: 600;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 45px;
    color: rgb(255, 255, 255);
}

.img-text{
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 70% 5%;
    background: transparent;
    border: 2px solid #f78a25;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

.img-text h2{
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-transform: uppercase;
}

.img-text p{
    font-size: 14px;
}

.single-box{
    position: relative;
    margin-bottom: 30px;
    height: 15%;
}

.img-area{
    position: absolute;
    width: 190px;
    height: 190px;
    border: 5px solid #ffffff;
    overflow: hidden;
    top: 30px;
    left: 80px;
    border-radius: 50%;
}

.img-area img{
    width: 100%;
    align-items: center;
}

.carousel-indicators{
    left:0;
    top: auto;
    bottom: -60px;
}

.carousel-indicators li{
    background: #f09620e1;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.carousel-indicators li .active{
    background-color: rgb(255, 255, 255);
}

.Asection{
    min-height: 100vh;
    background-image: linear-gradient(rgba(30, 30, 30, 0.842),rgba(30, 30, 30, 0.842)), url("../img/aboutus.jpg");
    background-position: center;
    background-size: cover;
    padding-top: -2%;
}

.header-text{
    background-color: transparent;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.header-text{
    font-size: 80%;
}

.symbol{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}

.partition{
    border-color: whitesmoke;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contentheader{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 25px;
}

.cardcon{
    color: #fff;
    background: none;
    border: none;
    width: 18rem;
    display: block;
    padding-top: 30%;
}

.card h3{
    text-transform: uppercase;
    font-size: 200%;
    text-align: center;
}

.card h4{
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 100%;
    font-weight: 800;
    text-align: center;
    margin-bottom: -20px;
}

.card p{
    font-size: 70%;
}

.Csection{
    min-height: 80vh;
    background-color: #000;
    background-position: center;
    background-size: cover;
    padding-top: -5%;
}

.starter{
    width: 100%;
    padding-top: 2%;
    text-align: center;
    display: block;
}

.starter h1{
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.starter p{
    color: #fff;
    font-weight: 500;
    margin-bottom: 40px;
}


.contact-form{
    text-align: center;
    color: #fff;
    max-width: 900px;
    margin: auto;
    padding: 30px 30px;
    overflow: hidden;
    border: 1px solid rgb(245, 139, 2);
    border-radius: 25px;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #f78a25;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    background-color: transparent;
    color:#fff;
    border: 1px solid #f78a25;
    border-radius: 50px;
    width: 30%;
}

.contact-form-btn:hover{
    background-color: #f78a25;
    color: black;
    transition: 0.3s;
}

footer{
    color: #000;
    min-height: 7vh;
    text-align: center;
    background-color: #555;
}

footer h1{
    text-align: center;
}


/*LAPTOP*/
@media(max-width: 1440px){
    .navcon{
        background-color: #35333396;
        padding: 0;
    }

    .navitem{
        font-size: 60%;
        padding-top: 0;
        padding-left: 2%;
        padding-right: 2%;
        margin:0;
    }

    .logo{
        margin-top: 25%;
    }

    .cardcon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
    }

    .header-text{
        text-align: center;
        padding-top: 0;
        margin-bottom: 0;
    }

    .TittleSection{
        font-size: 30px;
        padding-bottom: 2%;
    }

    .img-text{
        padding: 56% 8%;
        height: 450px;
    }

    .img-area{
        top: 30px;
        left: 30%;
        width: 140px;
        height: 140px;
    }

    .carousel-indicators{
        left:0;
        top: auto;
        bottom: -52px;
    }

    .starter h1{
        padding-top: 0;
        font-size: 35px;
    }

    .starter p{
        font-size: 70%;
        margin: 1.3%;
    }

    .contact-form{
        padding-bottom: 5%;
    }

    .contact-form h3{
        font-size: 95%;
    }

    .GetStarted{
        width: 30%;
    }

}

/*PHONE*/
@media(max-width: 600px){
    .navcon{
        background-color: #35333396;
    }

    .navitem{
        font-size: 60%;
        padding-left: 2%;
        padding-right: 2%;
        margin: 2%;
    }

    .logo{
        margin-top: 60%;
    }

    .cardcon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
    }

    .header-text{
        text-align: center;
        padding-top: 0;
        margin-bottom: 0;
    }

    .TittleSection{
        font-size: 30px;
        padding-bottom: 2%;
    }

    .img-text{
        padding: 50% 5%;
    }

    .img-area{
        top: 30px;
        left: 30%;
    }

    .carousel-indicators{
        left:0;
        top: auto;
        bottom: -13px;
    }

    .starter h1{
        padding-top: 5%;
        font-size: 35px;
    }

    .starter p{
        font-size: 70%;
        margin: 3%;
    }

    .contact-form{
        padding-bottom: 5%;
    }

    .contact-form h3{
        font-size: 95%;
    }

    .GetStarted{
        width: 30%;
    }

}

@media(max-width: 425px){
    .navcon{
        background-color: #35333396;
    }

    .navitem{
        font-size: 60%;
        padding-left: 2%;
        padding-right: 2%;
        margin: 2%;
    }

    .logo{
        margin-top: 90%;
    }

    .GetStarted{
        width: 50%;
        padding: 3px;
        font-size: 90%;
    }

    .TittleSection{
        font-size: 20px;
        padding-bottom: 2%;
    }

    .img-text{
        padding: 45% 2%;
        font-size: 20%;
        height: 200px;
    }

    .img-text p{
        font-size: 12px;
    }

    .img-area{
        top: 20px;
        left: 33%;
        width: 140px;
        height: 140px;
    }

    .carousel-indicators{
        left:0;
        top: auto;
        bottom: -13px;
    }

    .starter h1{
        padding-top: 5%;
        font-size: 20px;
    }

    .starter p{
        font-size: 60%;
        margin: 5%;
    }

    .contact-form{
        padding-bottom: 5%;
    }

    .contact-form h3{
        font-size: 95%;
    }

    .GetStarted{
        width: 30%;
    }

}


